body {
  margin: 0;

  width: auto;
  height: 100vh;
  flex-shrink: 0;

  background-color: #1E1E1E;
  background: url("./assets/sky.jpg") no-repeat center center;
  background-size: cover;
  background-blend-mode: luminosity;
}